.animation-container {
  --logo-anim-duration: 4s;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--bgColor);
  z-index: 500;
  display: flex;
  font-family: var(--logoFont);
  align-items: center;
  justify-content: right;
  padding: 0px calc(var(--appPadding) + 20px);
  animation: hideBg 1s forwards;
  animation-delay: 4.5s;
}

@keyframes hideBg {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.animation__name {
  font-size: 28px;
  font-weight: 100;
  animation: logoAnimation var(--logo-anim-duration) forwards ease-in-out;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(var(--appPadding) + 20px);
}

@media screen and (max-width: 1300px) {
  .animation__name {
    font-size: 21px;
  }
}

.animation__header {
  --header-anim-delay: 1.5s;
  font-weight: 600;
  opacity: 0;
  font-size: 45px;
  position: relative;
  animation: fadeIn 1s forwards;
  animation-delay: var(--header-anim-delay);
}

.animation__header::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: var(--grayColor);
  bottom: -10px;
  left: -100px;
  animation: line 0.8s forwards ease-out;
  animation-delay: var(--header-anim-delay);
}

@keyframes logoAnimationMobile {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  35% {
    opacity: 1;
    transform: translateX(-50%);
  }
  65% {
    top: 40%;
  }

  96% {
    top: 26px;
  }

  97% {
    top: 24px;
  }
  98% {
    top: 22px;
  }
  99% {
    top: 21px;
  }

  100% {
    /* top: 32px; */
    top: 20px;
  }
}

@keyframes logoAnimation {
  0% {
    opacity: 0;
    transform: translate(20px, -50%);
  }
  35% {
    opacity: 1;
    transform: translate(0px, -50%);
  }
  65% {
    top: 50%;
    transform: translate(0px, -50%);
  }

  96% {
    top: 26px;
    transform: translate(0);
  }

  97% {
    top: 24px;
  }
  98% {
    top: 22px;
  }
  99% {
    top: 21px;
  }

  100% {
    /* top: 32px; */
    top: 20px;
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(20px);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes line {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .animation-container {
    --logo-anim-duration: 4.5s;
    justify-content: center;

    /* align-items: center;
    justify-content: right; */
    /* padding: 0px calc(var(--appPadding) + 20px); */
  }

  .animation__name {
    animation: logoAnimationMobile var(--logo-anim-duration) forwards
      ease-in-out;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }

  .animation__header {
    --header-anim-delay: 1.8s;
    animation-duration: 1.5s;
    font-size: 32px;
  }

  .animation__header::before {
    left: 50%;
    transform: translate(-50%);
  }
}

@media screen and (max-width: 670px) {
  .animation__header {
    font-size: 26px;
  }
}

@media screen and (max-width: 480px) {
  .animation__header {
    font-size: 22px;
  }
}
